
.dropdownBox {
  margin-right: 3.5rem;
  position: relative;
}

.dropdownBox:last-child {
  margin-right: 0;
}

.filterBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding: 0 1rem;
  cursor: pointer;
  border: none;
  background-color: #EEEEEE;
  border-radius: 16px;
  font-size: 1.2rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 200px;
  box-shadow: 3px 2px 14px -3px rgba(93, 93, 101, 1);
  transition: all ease-in 0.4s;
}

.filterBtn:hover {
  background-color: #B2B2B2;
  color: white;
}

.itemBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  margin-right: -6px;
}

.menu {
  position: absolute;
  top: 56px;
  overflow: hidden;
  width: 100%;
  height: 150px;
  padding: 0.7rem 1rem;
  background: #212025;
  /* visibility: hidden; */
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.menu.open {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
  transform: translateY(0);
}

.menuItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.menuItem input {
  border: none;
  font-size: 1.2rem;
  width: 100%;
  padding-left: 10px;
  height: 1.7rem;
  border-radius: 6px;
}

.menuItem input:focus {
  outline: none;
}

.searchBtn {
  display: flex;
  cursor: pointer;
  position: absolute;
  right: 4px;
  bottom: 4px;
  border: none;
  padding: 0.2rem 0.5rem;
  justify-content: center;
  align-items: center;
  /* width: 100px; */
  border-radius: 10px;
}

.searchBtn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.searchBtn:hover::after {
  width: 100%;
  height: 100%;
  /* z-index: 1; */
  background-color: blue;
  color: white;
}

.searchBtn:hover {
  border: 2px solid #EEEEEE;
  /* background-color: #B3FFAE; */
}

@media (min-width: 1200px) {
  .dropdownBox {
    margin-right: 0;
    margin-bottom: 1rem;
    width: 100%;
  }
  .filterBtn {
    background: transparent;
    color: #f9f9f9;
    box-shadow: none;
    width: 100%;
  }
  .menu.open {
    left: 0;
    top: calc(56px + 0.25rem);
    border-radius: 0.25rem;
    box-shadow: 0 2px 0 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    background: transparent;
  }
  .dropdownBox:has(> .menu.open) {
    height: calc(56px + 0.25rem + 150px);
  }
}