
.searchBar {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

.searchField {
  opacity: 0;
  visibility: hidden;
  border: none;
  overflow: hidden;
  font-size: 1.2rem;
  transition: opacity 0.3s ease-in-out;
}

.searchField:focus {
  outline: none;
  opacity: 1;
}

.searchBtn {
  cursor: pointer;
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: center;
  font-size: 1.15rem;
  background-color: #EAEAEA;
  color: #3C4048;
  transition: all .2s;
  /* background-image: url("../../img/fork.png"); */
  background-image: url('../../img/searchIcon.png');
  background-position: left;
  background-repeat: no-repeat;
}

.searchBtn:hover {
  transform: scale(1.05);
}

.searchBtn span {
  margin-left: 4px;
}


@media (min-width: 1001px) {
  .searchField {
    opacity: 0.8;
    visibility: visible;
    width: 20rem;
    transition-property: opacity, visibility;
    transition-duration: 0.3s;
  }
}

@media screen and (max-width: 1000px) {
  .searchBar {
    background: transparent;
    margin-right: 12px;
  }
  .searchBtn {
    background-color: transparent;
  }
  .searchBar.toggled {
    background-color: #fff; 
  }
  .searchBar.toggled > .searchField {
    opacity: 0.8;
    visibility: visible;
    width: 15rem;
  }
  .searchBar.toggled > .searchBtn {
    background-color: #EAEAEA;
  }
}

@media screen and (max-width: 800px) {

  .searchBar.toggled > .searchBtn {
    position: fixed;
    left: 12px;
    width: 40px; 
    height: 40px;
    background: transparent;
    background-image: url('../../img/closeIcon.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  .searchBar.toggled {
    position: fixed;
    padding-left: 0;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    z-index: 2;
    height: 4.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  }

  .searchBar.toggled .searchField {
    width: 100%;
    font-size: 1.35rem;
    padding-left: 60px;
  }

}