
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f5f3;
  height: 6rem;
  width: 100%;
}

.logoArea {
  margin-left: 2.5rem;
  display: flex;
  align-items: center;
}

.title {
  font-family: 'Karla', sans-serif;
  font-size: 1.7rem;
}

.logoArea img {
  height: 2.3rem;
}

@media (max-width: 1000px) {
  .header {
    justify-content: flex-end;
  }
  .logoArea {
    margin-right: auto;
  }
}

@media (max-width: 900px) {
  .logoArea {
    margin-left: 1.25rem;
  }

  .title {
    font-size: 1.45rem;
  }

  .logoArea img {
    height: 30px;
  }
}

@media (max-width: 800px) {
  .header {
    height: 4.5rem;
  }
  .logoArea {
    margin-left: 4px;
  }
  .title {
    font-size: 1.3rem;
  }
  .logoArea img {
    height: 24px;
  }
}